body, html {
  height: 100%;
}

.bg img {
    display:block;
    width:100%; 
    height:100%;
    object-fit: cover;
}

.element {
    /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 3rem;
}

.ka-element {
  height: 40%;
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.img-container {
  height: 70%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.fire {
  background-image: url('../images/fire.jpg')
}
.water {
  background-image: url('../images/water.jpg')
}
.air {
  background-image: url('../images/air.jpg')
}
.earth {
  background-image: url('../images/earth.jpg')
}
.moon {
  background-image: url('../images/moon.jpg')
}

.card {
  width: 18rem;
  height: 20rem;
  margin-right: 3rem;
}
.card-img-top {
  max-height: 14rem;
}

#sort-ka {
  height: 20rem;
}
#sort-ka .ka-element img {
  width: 7rem;
  height: 7rem;
}

.ka-element-droppable {
  height: 8rem;
  width: 7rem;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0.5rem;
  text-align: center;
}