body, html {
  height: 100%;
}

.bg img {
    display:block;
    width:100%; 
    height:100%;
    object-fit: cover;
}

.element {
    /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 3rem;
}

.card {
    width: 18rem;
    margin-right: 3rem;
}
.card-img-top {
  max-height: 14rem;
}

#sort-ka {
  display: inline-flex;
}
#sort-ka .ka-element img {
  width: 7rem;
  height: 7rem;
}